

.form .dropdown {
	font-size: 50%;
	width: 100%;
}

.form .category {
	font-size: 50%;
	width: 100%;
}

.form .question {
	resize: none;
	height: 20%;
	width: 100%;
	font-size: 50%;
}

.form .choices {
	resize: none;
	height: 50px;
	width: 100%;
	font-size: 50%;
}

.form input.answer {
	height: 100px;
	width: 100%;
	font-size: 50%;
}