body,
html {
	font-family: 'HPSimplified', sans-serif;
	font-size: 24pt;
}

* {
	box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

button {
	border: 0;
	cursor: pointer;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.content div {
	/* border: 1px solid blue; */
}