html {
	overflow: hidden;
}

.game {
	font-family: 'HPSimplified', sans-serif;
	font-size: 24pt;
}

* {
	box-sizing: border-box;
}

.game input:focus,
.game select:focus,
.game textarea:focus,
.game button:focus {
	outline: none;
}

.game button {
	border: 0;
	cursor: pointer;
}

.game input[type=number]::-webkit-outer-spin-button,
.game input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.game input[type=number] {
  -moz-appearance: textfield;
}

.content div {
	/* border: 1px solid blue; */
}