:root {
	--primary: #222;
	--secondary: #fff;
}

button.primary {
	background-color: var(--secondary);
	color: var(--primary);

	transform: skew(-15deg);
	padding: 0 30px;
	font-weight: bold;

	transition: 100ms ease;
}
	button.primary * {
		display: inline-block;
		transform: skew(15deg);

		transition: 100ms ease;
	}

	button.primary:hover {
		transform: scale(1.05);
		transition: 100ms ease;
	}

	button.primary:hover > * {
		transform: skew(0);
	}

input.primary {
	border-radius: 0;
	text-align: center;
	border: 2px solid var(--secondary);
	background-color: transparent;
	color: var(--secondary);
	padding: 5px 0;
}

button.secondary {
	background: transparent;
	text-transform: uppercase;
	font-size: 60%;
	letter-spacing: 5px;
	color: var(--secondary);
	border: 1px solid var(--secondary);
	padding: 0 1.5em;
}