body,
html {
	overflow: hidden;
}

.game .background {
	position: absolute;
	z-index: -99;

	height: 100%;
	width: 100%;
	background-color: #222;
}

.game .content {
	position: absolute;
	top: 15px;
	left: 15px;
	color: white;
	
	height: calc(100% - 30px);
	width: calc(100% - 30px);
}

.game .content > div {
	display: flex;
	height: 100%;
	width: 100%;
}

.game .content.flex-center {
	align-items: center;
	justify-content: center;
}

.game .logo {
	height: 172px;

	animation-name: beat;
	animation-duration: 1.5s;
	animation-timing-function: cubic-bezier(.86,0,.07,1);
	animation-iteration-count: infinite;
}