.wrapper {
  height: 100vh;
  overflow-y: scroll;

  display: flex;
  justify-content: center;
}

.wrapper .app {
  width: 80%;
  margin-top: 3em;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.card-q {
  margin-bottom: 1em;
}