.highscore .table {
	position: fixed;
	max-width: 53%;
	top: 7.5%;
	right: 3%;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 3px;
}

.highscore .label {
	position: fixed;
	top: 50%;
	left: 3%;
	font-size: 60px;
	font-weight: bold;
	text-align: center;
}

.highscore .logo {
	height: 25%;
	width: 35%;
	position: fixed;
	top: 20%;
	left: 5.5%;

}

.highscore button.secondary {
	height: 10%;
	width: 15%;
	position: fixed;
	top: 80%;
	left: 14%;
}