.question {
	height: 100%;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	display: flex;
}

.question .top,
.question .bottom {
	display: flex;
	justify-content: space-between;
	width: 90%;
	align-items: center;
}

.question .counter {
	font-size: 80%;
}

.question .counter span:first-child {
	padding-right: 15px;
}

.question .counter span:first-child:after {
	content: '/';
	padding-left: 15px;
	transform-origin: 50% 50%;
	transform: scale(1.3) translateX(-2px);
	display: inline-block;
}

.question .center {
	max-width: 80%;
	text-align: center;
}

.question h4 {
	line-height: 1.2em;
	text-align: center;
	margin-bottom: 35px !important;
}

.question input {
	margin-top: 1.5em;
}

.question input[type="text"] {
	width: 80%;
}

.question input[type="number"] {
	width: 40%;
}

.question .category {
	background-color: var(--secondary);
	color: var(--primary);

	max-width: 400px;
	padding: 0 1em;
	text-align: center;
	transform: skew(-20deg) translateX(-95px);
}

.question .category span {
	transform: skew(20deg);
	display: inline-block;
	margin-left: 1em;
}

.question .qlogo {
	height: 42px;
}

.question .truefalse {
	display: flex;
	justify-content: space-around;
	width: 60%;
	margin: auto;
}

.question .truefalse .primary {
	padding: 0 2em;
}

.question .multiple {
	display: flex;
	justify-content: space-between;
}

.question .multiple div {
	width: 48%;
}

.question button.mult_choice {
	display: flex;
	align-items: stretch;

	width: 100%;
	background-color: var(--secondary);
	padding: 0;
}

.question button.mult_choice:first-child {
	margin-bottom: 20px;
}

.question button.mult_choice:hover > .letter {
	max-width: 2em;
	margin-right: 0;
	transition: 500ms ease;
}

.question button.mult_choice .letter_ans {
	line-height: 1.2em;
	text-align: center;
	width: calc(100% - 2em);
}

.question button.mult_choice .letter {
	display: flex;
	align-items: center;
	background-color: var(--primary);
	color: var(--secondary);

	max-width: 0;
	margin-right: 1em;
	transition: 500ms ease;
}

.question button.mult_choice .letter span {
	width: 100%;
	display: inline-block;
	text-align: center;
}